/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
  user-select: none;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: CircularStdBlack;
    src: url(/fonts/CircularStd-Black.woff);
}

@font-face {
    font-family: CircularStdBold;
    src: url(/fonts/CircularStd-Bold.woff);
}

@font-face {
    font-family: CircularStdItalic;
    src: url(/fonts/CircularStd-BoldItalic.woff);
}

body {
  background: #3d3d3d;
  color:#ecf0f1;
  width:480px;
  height:800px;
  overflow:hidden;
  font-family: CircularStdBold;
}

.row div.temperature {
  line-height:90px;
}

.clear {
  clear: both;
}

/* Clock */

.clock {
  font-size:75px;
  text-align:center;
  letter-spacing: 7px;
  margin-top:10px;
  margin-bottom:90px;
}

.clock span {
  margin:-13px;
}

.clock .blink {
  font-size:50px;
}

@keyframes fadeAnim {
  0%   { opacity:1; }
  25%  { opacity:0; }
  50%  { opacity:1; }
  75%  { opacity:0; }
}

.blink {
    animation: fadeAnim 4s infinite;
}

/* Departure sites */
.departure-site {
  background:#4b4b4b;
  margin-bottom: 25px;
}

.departure-site .name {
  font-size:30px;
  text-transform: uppercase;
  padding:10px;
}

.departure-site .destination {
  width:240px;
  float:left;
}

.departure-site .destination-full {
  width:480px;
}

.departure-site .destination .name {
  font-size:25px;
  text-transform: uppercase;
}

.departure-site .destination .departures li {
  margin-left: 10px;
  font-size: 25px;
  margin:10px;
}

/* Transport status */
.transport-status {
  position:fixed;
  /* bottom:0; */
  top: 100px;
  left:0;
  right:0;
  height:50px;
  background: #44bd32;
  z-index:2;
}

.transport-status .status {
  width:160px;
  height:50px;
  text-align:center;
  float:left;
  line-height: 70px;
}

.transport-status .status.disrupted {
  background:#ff3838;
}

/* Transport status disruption panel */
.disruption-panel {
  background:#ff3838;
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  top:150px;
  height:650px;
  display:none;
  overflow:scroll;
}

.disruption-panel h1 {
  text-transform:uppercase;
  font-size:25px;
  text-align:center;
  padding-top:15px;
}

.disruption-panel p {
  padding:15px;
  line-height:25px;
}

.disruption-panel p span {
  font-size:20px;
  line-height:16px;
}

/* Weather */

.weather {
  position:absolute;
  bottom: 230px;
  left:0;
  right:0;
}

.weather ul {
  display:block;
  float:left;
  width:25%;
  margin-bottom:30px;
}

.weather ul li {
  margin-bottom:10px;
  font-size:25px;
  text-align:center;
}

.weather ul li.small {
  font-size:15px;
  margin-top:-5px;
}

.weather ul li img {
  max-width:75px;
  max-height:75px;
}

/* Lock */
.lock {
  position: absolute;
  float:left;
  width:100%;
  height:200px;
  left:0;
  right:0;
  bottom:30px;
}

.lock ul {
  display:block;
  float:left;
  width:100%;
  margin-bottom:30px;
  padding:10px;
}

.lock ul li {
  display:block;
  float:left;
  width:220px;
  height:200px;
  margin:5px;
  text-align: center;
  color:#000;
}

.lock .active {
  animation: fadeAnim 2s infinite
}

@keyframes flashGreen {
  0%   { opacity:0; background-color:#BB42CD; }
  25%  { opacity:0.5; background-color:#BB42CD; }
  50%  { opacity:1; background-color:#BB42CD; }
  75%  { opacity:0.5; background-color:#BB42CD; }
  100% { opacity:0; background-color:#BB42CD; }
}

#lock-toggle {
  filter: invert(100%);
  border-radius:5px;
}

#lock-toggle.locked {
  background: url('/icons/lock/unlock.png') no-repeat;
  background-position: center;
  background-size: 125px 125px;
}

#lock-toggle.unlocked {
  background: url('/icons/lock/lock.png') no-repeat;
  background-position: center;
  background-size: 125px 125px;
}

#lock-delay {
  background: url('/icons/lock/lock-timer.png') no-repeat;
  background-size: 150px 150px;
  background-position: center;
  filter: invert(100%);
  border-radius:5px;
}